[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dbtleonia
[access "refs/for/refs/*"]
	read = group user/dbtleonia
	push = group user/dbtleonia
	label-Code-Review = -2..+2 group user/dbtleonia
	label-Verified = -1..+1 group user/dbtleonia
	rebase = group user/dbtleonia
	removeReviewer = group user/dbtleonia
	submit = group user/dbtleonia
[access "refs/heads/*"]
	read = group user/dbtleonia
	create = group user/dbtleonia
	push = +force group user/dbtleonia
	pushMerge = group user/dbtleonia
[access "refs/tags/*"]
	push = +force group user/dbtleonia
	pushTag = group user/dbtleonia
	pushSignedTag = group user/dbtleonia
